@using mHaley_C50_A03.Models
@model IEnumerable<ShoppingListEntry>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory)
        </th>
        <th></th>
    </tr>

@{ decimal totalPrice = 0; }
@foreach (ShoppingListEntry item in Model) {
    totalPrice += item.ProductPrice;
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategory)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  name=item.ProductName  }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { name=item.ProductName  })
        </td>
    </tr>
}
    <tr>
        <td></td>
        <td></td>
        <td>
            <strong>List Total:</strong> $@totalPrice
        </td>
        <td></td>
        <td>@Html.ActionLink("Delete All", "DeleteAll")</td>
    </tr>

</table>
