@using mHaley_C50_A03.Models
@model IEnumerable<ShoppingListEntry>

@{
    ViewBag.Title = "View List";
}

@Html.Partial("~/Views/Shared/_Header.cshtml")

<h2>View List</h2>

<p>
    <span id="getJson"><a href="#">Get JSON Values</a></span>
</p>
<p>
    <pre id="jsonOutput" class="hidden"></pre>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory)
        </th>
        <th></th>
    </tr>

    @{ decimal totalPrice = 0; }
    @foreach (ShoppingListEntry item in Model) {
        totalPrice += item.ProductPrice;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  name=item.ProductName  }) |
                <span class="delete">@Html.ActionLink("Remove", "Delete", new { name=item.ProductName  })</span>
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td>
            <strong>List Total:</strong> $@totalPrice
        </td>
        <td></td>
        <td>@Html.ActionLink("Create New", "Create") | <span class="delete">@Html.ActionLink("Delete All", "DeleteAll")</span></td>
    </tr>
</table>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")

    <script>
        $("#getJson").click(() => {
            $.ajax({
                url: '@Url.Action("GetJson", "ShoppingList")',
                type: "GET",
                success: data => {
                    $("#jsonOutput").text("---For use in importing to other applications ---\n");
                    $("#jsonOutput").append(data);
                    $("#jsonOutput").removeClass("hidden");
                },
                error: error => {
                    alert(error);
                }
            });
        });
    </script>
}